@media all and (max-width: 800px) {
    section{
        gap: 20px;
        min-height: 10vh;
        
    }

    .hero{
        min-height: 100vh;
    }
    section img{
        max-width: 80%;
    }

    .left, .right{
        width: 50vw;
        padding: 0 10px;
      }

      footer{
        padding: 10px 5px;
      }
}



@media all and (max-width: 400px){
    section{
        padding: 20px 7px;
        flex-direction: column;
        width: 100%;
        min-height: 10vh;
        border-bottom: 3px solid #26ffdf;
        justify-content: start;
    }
    section img{
        width: 50%;
    }
    .center{
        top: 0;
        transform: rotateZ(90deg);
        position: relative;
    }

    .left, .right{
        width: 100%;
    }

    .second, .fourth{
        flex-direction: column-reverse;
    }
}
